<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>chatting: [DM, Nickname]</title>
    <!-- socket.io CDN -->
    <script src="/socket.io/socket.io.js"></script>

    <!-- bootstrap CSS CDN -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />

    <style>
      .container {
        background-color: #9bbbd4;
        height: 500px;
        margin-top: 20px;
        /* bootstrap container 기본 padding 없애기 위해 */
        padding: 0;
        display: flex;
        flex-direction: column;
      }

      /***** [HEADER] *****/
      .container header {
        width: 100%;
        box-shadow: 0px 2px 2px #7a7a7a24;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-basis: 10%;
      }

      /***** [SECTION] *****/
      .container section {
        padding: 16px;
        flex-basis: 80%;
        overflow: auto;
      }

      /* section: 스크롤 모양 변경 */
      .container section::-webkit-scrollbar {
        width: 4px;
      }

      .container section::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 10px;
        padding: 1px;
        margin: 1px;
      }

      .container section::-webkit-scrollbar-track {
        padding: 1px;
        background-color: #ccc;
        border-radius: 10px;
        box-shadow: inset 0px 0px 2px white;
      }

      /***** [MSG FORM] *****/
      .container .msg-form {
        display: flex;
        justify-content: space-between;
        bottom: 0;
        padding: 8px 16px;
        flex-basis: 10%;
      }

      .container .msg-form input {
        flex-basis: 75%;
        border: none;
        border-radius: 90px;
        padding: 8px 16px;
        outline: none;
      }

      .container .msg-form input:focus + button {
        background-color: #fef01b;
      }

      .container .msg-form button {
        flex-basis: 12%;
        border: none;
        border-radius: 3px;
      }

      /* section- 말풍선 */
      .container .speech .msg-box {
        display: inline-block;
        box-shadow: 1px 1px 5px #7a7a7a;
        border-radius: 8px;
        padding: 0.3rem;
        margin: 0.5rem 0;
        max-width: 60%;
      }

      .container .speech.me {
        text-align: right;
      }
      .container .speech.other {
        position: relative;
        margin: 10px 0;
      }

      .container .speech.other .nickname {
        font-size: 10px;
        position: absolute;
        top: -8px;
      }

      .container .speech.me .msg-box {
        background-color: #fef01b;
      }

      .container .speech.other .msg-box {
        background-color: #fff;
      }
      .container section .notice {
        width: 80%;
        background-color: #fff5;
        border-radius: 50px;
        text-align: center;
        padding: 2px 0;
        color: #4449;
        margin: 8px auto;
        font-size: 14px;
      }
      /* 실습5 dm기능 CSS */
      .container .msg-form #dm-selct {
        flex-basis: 12%;
        border: none;
        outline: none;
        border-radius: 3px;
        text-align: center;
      }

      .container .speech.other.dm .msg-box {
        background-color: #ffffff70;
      }
    </style>
  </head>
  <body>
    <div class="entry-box">
      <input type="text" id="nickname" placeholder="닉네임 입력" />
      <button onclick="join()">채팅방 입장하기</button>
    </div>
    <div class="container d-none">
      <header>코코아톡🍫</header>
      <section>
        <!-- <div class="speech me">
          <span class="msg-box">채팅 내용</span>
        </div>
        <div class="speech other">
          <span class="nickname">nickname</span>
          <span class="msg-box">채팅 내용</span>
        </div> -->
      </section>
      <form class="msg-form" id="msg-form">
        <select id="dm-select"></select>
        <input type="text" placeholder="메세지 입력" />
        <button>전송</button>
      </form>
    </div>
    <script>
      const socket = io();
      const chatContainer = document.querySelector('.container section');
      const chatForm = document.querySelector('#msg-form');
      const input = chatForm.querySelector('input');
      // 추가
      const container = document.querySelector('.container');
      const entryBox = document.querySelector('.entry-box');
      const nickInput = document.querySelector('#nickname');
      const select = document.querySelector('#dm-select');
      let myNick; // 입장 성공했을 때 나의 닉네임 저장할 변수

      // [닉네임 사용]-1
      function join() {
        socket.emit('checkNick', nickInput.value);
      }
      // [닉네임 사용]-3 (1) 입장 실패
      socket.on('error', errMsg => {
        alert(errMsg);
      });

      // [닉네임 사용]-3 (2) 내 닉네임 정보 저장 및 화면 변경
      socket.on('entrySuccess', nickname => {
        myNick = nickname;
        entryBox.classList.add('d-none');
        container.classList.remove('d-none');
      });

      // [실습3] 입장2
      socket.on('notice', notice => {
        const p = document.createElement('p');
        p.textContent = notice;
        p.classList.add('notice');
        chatContainer.append(p);
      });

      // [실습4] 채팅주고받기
      chatForm.addEventListener('submit', e => {
        e.preventDefault();
        if (input.value.trim() === '') return;
        // [4-1] 버튼을 눌렀을 때, 메세지를 서버에게 전달
        // (dm 일 때 객체정보 전달)
        const sendData = {
          myNick: myNick,
          dm: select.value, // DM 보내고자 하는 클라이언트의 socket.id
          msg: input.value,
        };
        socket.emit('send', sendData);
        input.value = '';
      });

      // [4-3] 메세지를 전달받고,
      // 내메세지와 다른 클라이언트의 메세지 구분
      socket.on('message', data => {
        // data:{id, message, isDm?}
        // console.log(data.id); // 보낸 사람의 아이디
        // console.log(socket.id); // 나의 아이디
        const div = document.createElement('div');
        const span = document.createElement('span'); // 채팅 내용

        span.classList.add('msg-box');
        div.classList.add('speech');

        if (data.isDm) {
          // DM일 경우에 말풍선 맨 앞에 [귓속말] 단어 보이도록
          span.innerText = '[귓속말] ' + data.message;
          div.classList.add('dm');
        } else {
          span.innerText = data.message;
        }

        if (data.id === myNick) {
          // 내가 보낸 메세지
          div.classList.add('me');
          div.append(span);
        } else {
          // 남이 보낸 메세지
          div.classList.add('other');
          const nickname = document.createElement('span');
          nickname.innerText = data.id;
          nickname.classList.add('nickname');
          div.append(nickname, span);
        }
        chatContainer.append(div);
        chatContainer.scrollTop = chatContainer.scrollHeight;
      });

      // (4) 입장 성공, 나를 포함한 전체 client 에게 전체 닉네임 정보 전달
      socket.on('updateNicks', nickInfo => {
        console.log('nickInfo', nickInfo); // {socket.id: nickname, ... }

        let option = `<option value="all">전체</option>`;
        for (let key in nickInfo) {
          // console.log("key", key);
          // console.log("value", nickInfo[key]);
          option += `<option value="${key}">${nickInfo[key]}</option>`;
        }

        console.log(option);
        select.innerHTML = option;
      });
    </script>
  </body>
</html>
