h4 {
  text-align: center;
  margin-bottom: 20px;
}

.images {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;

  .imgs {
    width: 150px;
    height: 250px;
    border-radius: 20px;
    background-color: #6a5acd;
    background-size: cover;
    background-position: center;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);

    &.img1 {
      background-image: url('../assets/practice1.png');
    }
    &.img2 {
      background-image: url('../assets/practice2.png');
    }
    &.img3 {
      background-image: url('../assets/practice3.png');
    }
    &.img4 {
      background-image: url('../assets/practice4.png');
    }
  }
}
